@font-face {
	font-family: 'sourcesanspro';
	src: url('SourceSansPro-Regular-webfont.eot');
	src: url('SourceSansPro-Regular-webfont.eot?#iefix') format('embedded-opentype'),
	     url('SourceSansPro-Regular-webfont.woff') format('woff'),
	     url('SourceSansPro-Regular-webfont.ttf') format('truetype'),
	     url('SourceSansPro-Regular-webfont.svg#sourcesanspro') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'sourcesanspro-semibold';
	src: url('SourceSansPro-Semibold-webfont.eot');
	src: url('SourceSansPro-Semibold-webfont.eot?#iefix') format('embedded-opentype'),
	     url('SourceSansPro-Semibold-webfont.woff') format('woff'),
	     url('SourceSansPro-Semibold-webfont.ttf') format('truetype'),
	     url('SourceSansPro-Semibold-webfont.svg#sourcesanspro-semibold') format('svg');
	font-weight: normal;
	font-style: normal;
}

* {
	
}

body {
	font-family: 'sourcesanspro-semibold';
	font-size: 16px;
	line-height: 1.4em;
	background-color: #CACACA;
}

#form {
	width: 400px;

	padding: 24px;

	background-color: #FFFFFF;

	margin-top: 200px;
	margin-left: auto;
	margin-right: auto;
}

#separator {
	height: 1px;
	background-color: #A8A8A8;
	margin-top: 5px;
	margin-bottom: 5px;
}

#form #username {
	float: left;
}

#form #password {
	float: right;
}

#form input[type="text"], #form input[type="password"] {
	width: 175px;
	padding: 10px;

	outline-style: none;
	outline-width: 0px;
	outline-color: #FFF;

	border: 1px solid #8A8A8A;
}

#form input[type="submit"] {
	margin-top: 5px;

	color: #FFF;
	background-color: #636363;
	border: none;

	text-align: center;
	height: 40px;
	width: 100%;

	outline-style: none;
	outline-color: #FFF;
	outline-width: 0px;
}

#form input[type="submit"]:active {
	background-color: #33517A;
}